*.iml
backup_*
.idea/*.xml
/.gradle
.gitignore
local.properties
.idea/*.xml
.idea/compiler.xml
.idea/gradle.xml
/.idea/misc.xml
.idea/workspace.xml
.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures
.idea/.name
app/app-release.apk
backup_idea/
