<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="sovietPosterArt.sovietPosterArt"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="sovietPosterArt.utils.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="sovietPosterArt.MainActivity">
        </activity>

        <activity
            android:name="sovietPosterArt.StartUpActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="sovietPosterArt.ArtWorkDetailViewActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name="sovietPosterArt.sharing_artwork.ImageFileProvider"
            android:authorities="sovietPosterArt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="sovietPosterArt.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


        <!--keeping api keys out of public repo:
            http://stackoverflow.com/questions/13979049/edit-an-androidmanifest-when-compiling-to-remove-api-key-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_api_key" />
    </application>


</manifest>
